@import "tailwindcss";

/* Define CSS variables from next/font */
:root {
  --background: #ffffff;
  --bg-secondary: #f4ebe9;
  --primary: #d99d84;
  --font-helvetica: var(--font-helvetica);
  --font-playfair: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(
    --font-playfair,
    "Playfair Display",
    "helvetica",
    sans-serif
  );
}
